<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <sessionState mode="Custom" customProvider="RedisSessionStateStore">
      <providers>
        <add name="RedisSessionStateStore" type="RedisBase9000.RedisSessionStateStore"/>
      </providers>
    </sessionState>

    <machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" decryption="3DES" validation="SHA1"/>
  </system.web>

  <appSettings>
    <!--Redis写入服务器地址,可以添加多个服务器通过;分隔-->
    <add key="readWriteHosts" value="192.168.1.29:6379"/>
    <!--Redis读服务器地址,可以添加多个服务器通过;分隔-->
    <add key="readOnlyHosts" value="192.168.1.29:6379"/>
  </appSettings>
  
</configuration>